<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webproject</display-name>
  <welcome-file-list>
    <welcome-file>Image.html</welcome-file>
    <welcome-file>Image.htm</welcome-file>
    <welcome-file>Image.jsp</welcome-file>
    <welcome-file>SignUp.html</welcome-file>
    <welcome-file>SignUp.htm</welcome-file>
    <welcome-file>SignUp.jsp</welcome-file>
    <welcome-file>Gmail.html</welcome-file>
    <welcome-file>Gmail.htm</welcome-file>
    <welcome-file>Gmail.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>income.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterNew</display-name>
    <filter-name>FilterNew</filter-name>
    <filter-class>income.FilterNew</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterNew</filter-name>
    <url-pattern>/FilterNew</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterNew</filter-name>
    <servlet-name>SampleServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Listener_Servlet</display-name>
    <servlet-name>Listener_Servlet</servlet-name>
    <servlet-class>income.Listener_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listener_Servlet</servlet-name>
    <url-pattern>/Listener_Servlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>income.ListenerSample</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AddPayeeServlet</display-name>
    <servlet-name>AddPayeeServlet</servlet-name>
    <servlet-class>income.AddPayeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPayeeServlet</servlet-name>
    <url-pattern>/addPayeeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferAmountServlet</display-name>
    <servlet-name>TransferAmountServlet</servlet-name>
    <servlet-class>income.TransferAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferAmountServlet</servlet-name>
    <url-pattern>/transferAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferProcessServlet</display-name>
    <servlet-name>TransferProcessServlet</servlet-name>
    <servlet-class>income.TransferProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferProcessServlet</servlet-name>
    <url-pattern>/transferAmountDet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>income.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginProcess</url-pattern>
  </servlet-mapping>
</web-app>