<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstProject</display-name>
  <welcome-file-list>
    <welcome-file>Search.html</welcome-file>
    <welcome-file>Search.htm</welcome-file>
    <welcome-file>Search.jsp</welcome-file>
    <welcome-file>NewFile.html</welcome-file>
    <welcome-file>NewFile.htm</welcome-file>
    <welcome-file>NewFile.jsp</welcome-file>
    <welcome-file>DeleteProduct.html</welcome-file>
    <welcome-file>DeleteProduct.htm</welcome-file>
    <welcome-file>DeleteProduct.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>globalmsg</param-name>
    <param-value>This is global initialisation parameter</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/productSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProductServlet</display-name>
    <servlet-name>AllProductServlet</servlet-name>
    <servlet-class>AllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProductServlet</servlet-name>
    <url-pattern>/AllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProductSearchServlet</display-name>
    <servlet-name>AllProductSearchServlet</servlet-name>
    <servlet-class>AllProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProductSearchServlet</servlet-name>
    <url-pattern>/allProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultServlet</display-name>
    <servlet-name>DefaultServlet</servlet-name>
    <servlet-class>DefaultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServlet</servlet-name>
    <url-pattern>/DefaultServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
</web-app>